/* for smaller than large screens */

/*For layout purposes:*/
section {
  width: 100%;
}

section h1 {
  max-width: 320px;
  margin: 20px auto;
}

section p {
  max-width: 290px;
  margin: auto;
}

section blockquote {
  max-width: 320px;
  text-align: justify;
  margin: auto;
}


/*For styling the sections:*/


/*INTRO SECTION, ELEMENTS*/
.intro{
  background: #f2af5c;
  padding-bottom: 20px;
  background-position: center;
}

.pageTitle {
  display: block;
  margin: 0 auto;
  color: white;
}

.thumbnail {
  display: block;
}

.logo{
  background: rgba(0,0,0,0.2);
  display: none;
}

.intro div{
  margin: 0 auto;
  width: 280px;
}

.intro div{
  margin-top: 50px;
}

.intro p{
  color: white;
}

.button-donate{
  position: relative;
  background: #1bcc68;
  border-radius: 2px;
  padding: 10px;
  width: 290px;
  text-transform: uppercase;
  color: white;
  text-weight: 700;
}

.button-donate:hover{
  background: #17aa57;
  color: #323232;
}

.button-donate a{
  color: white;
  font-weight: 700;
  text-decoration:none;
  cursor:pointer;
}

/*WHY SECTION, ELEMENTS*/
.why {
  background: #ffd858;
  padding: 20px 0;
  background-image: url(../assets/bg_why.svg);
  background-repeat: no-repeat;
  background-position: center bottom -130px;
}

.why p{
  padding-top: 20px;
  color: #323232;
}

/*HOW SECTION, ELEMENTS*/
.how {
  background: #323232;
  padding: 20px 0;
  background-image: url(../assets/bg_how.svg);
  background-position: center bottom -80px;
  background-repeat: no-repeat;
}

.how div{
  margin: 0 auto;
  width: 280px;
}

.how h1,p{
  color: white;
}

.how p{
  padding: 10px 0;
}

.how a{
  color: #17AA57;
  font-style: italic;
}

.button-readmore{
  position: relative;
  background: white;
  border-radius: 2px;
  padding: 10px;
}

.button-readmore a{
  color: #323232;
  font-weight: 300;
  text-decoration:none;
  cursor:pointer;
}

.button-readmore:hover{
  background: #e2e2e2;
}

/*GUIDELINE SECTION, ELEMENTS*/
.guideline {

}

/*EXAMPLES SECTION, ELEMENTS*/
.examples {

}


/*JOIN SECTION, ELEMENTS*/
.join {
  background: #323232;
  padding: 20px 0;
  color: white;
  background-image: url(../assets/bg_join.svg);
  background-position: center bottom -180px;
  background-repeat: no-repeat;
}

.join div{
  margin: 0 auto;
  width: 280px;
}

.join p{
  padding: 10px 0;
}

.andor{
  color: #8E8E8E;
  padding-top: 20px;
}

.button-join{
  position: relative;
  border: 2px solid #FFD858;
  border-radius: 2px;
  padding: 10px;
  color: white;
  text-weight: 700;
}

.button-join:hover{
  background: #FFD858;
  color: #323232;
}

.button-join a{
  color: white;
  font-weight: 300;
  text-decoration:none;
  cursor:pointer;
}

.button-buy{
  position: relative;
  background: #1bcc68;
  border-radius: 2px;
  padding: 10px;
  text-transform: uppercase;
  color: white;
  text-weight: 700;
}

.button-buy:hover{
  background: #17aa57;
  color: #323232;
}

.button-buy a{
  color: white;
  font-weight: 700;
  text-decoration:none;
  cursor:pointer;
}

/*SOCIAL SECTION, ELEMENTS*/
.social {
  background: #409b92;
}

.social li{
  display: inline-block;
  flaot: right;
  height: 60px;
  line-height: 60px;
}

/*HASHTAGCHARITY BADGE*/
.badge{
  height: 60px;
  margin: 0 auto;
  padding: 20px;
  width: 100px;
  height: 100px;
}

/*AND/OR styling*/
.andor {
  text-transform: uppercase;
  color:white;
  opacity:0.9;
}

/*For meta content and functionality:*/

.andor:before,
.andor:after {
  content: "";
  display: inline-block;
  position:relative;
  border-bottom: 2px solid white;
  width: 100px;
  margin-bottom: 3px;
}

.button-donate a{
  color: white;
  text-decoration: none;
  padding: 10px;
}

.examples a:after{
  content: "...";
  display: block;
}

.examples h1 a{
  text-decoration: none;
  color: black;
}

#story {
  display: none;
}

#story:target {
  display: block;
}








/* incoming breakpoint */
/* for larger than small screens */
@media all and (min-width: 640px) {

  body {

  }

  section {
    max-width: 960px;
    margin: auto;
  }

  section h1 {
    max-width: 620px;
    margin: 20px auto;
  }

  section p {
    max-width: 590px;
    margin: auto;
  }

  /*INTRO SECTION, ELEMENTS*/
  .intro {
    min-height: 444px;
    background: #f2af5c;
    background-image: url(../assets/header_bg.jpg);
    background-size: cover;
    background-position: center;
  }

  .intro p  {
    margin-top: 30px;
  }

  .logo{
    display: block;
    background: rgba(0,0,0,0.2);
    max-height: 100px;
    padding: 10px 0;
  }

  .pageTitle {
    text-indent: -9999px;
    overflow: hidden;
  }

  .button-donate{
    position: relative;
    background: #1bcc68;
    border-radius: 2px;
    padding: 10px;
    width: 100px;
    text-transform: uppercase;
    color: white;
    text-weight: 700;
  }


  .why{
    min-height: 300px;
    background-image: url(../assets/bg_why.svg);
    background-repeat: no-repeat;
    background-position: center bottom -130px;
  }

  .how{
    min-height: 340px;
    background-image: url(../assets/bg_how.svg);
    background-position: center bottom -80px;
    background-repeat: no-repeat;

  }

  .join{
    min-height: 444px;
    background-image: url(../assets/bg_join.svg);
    background-position: center bottom -180px;
    background-repeat: no-repeat;
  }
}
