/* for smaller than large screens */

/*For layout purposes:*/
section {
  width: 100%;
}

section h1 {
  max-width: 320px;
  margin: auto;
}

section p {
  max-width: 290px;
  margin: auto;
}

/*For styling the sections:*/
.intro {
  /*DEV*/background: rgba(255, 0, 0, 0.2);
  padding-bottom: 20px;


}

.why {
  /*DEV*/background: rgba(0, 255, 0, 0.2);
}

.how {
  /*DEV*/background: rgba(0, 0, 255, 0.2);
}

.guideline {
  /*DEV*/background: rgba(255, 255, 0, 0.2);
}

.examples {
  /*DEV*/background: rgba(0, 255, 255, 0.2);
}

.join {
  /*DEV*/background: rgba(255, 0, 255, 0.2);
}

.social {
  /*DEV*/background: rgba(255, 0, 0, 0.2);
}

.button-donate{
  position: relative;
  border: 2px solid white;
  border-radius: 2px;
  padding: 20px;
  width: 320px;
  text-transform: uppercase;
}

.button-donate:hover{
  background: white;
  color: #323232;
}

<<<<<<< Updated upstream
/*For meta content and functionality:*/
.andor:before,
.andor:after {
  /*DEV*/background: rgba(255, 0, 0, 0.2);
  content: "";
  display: inline;
  height: 5px;
  border-bottom: 1px solid white;
  width: 600px;
=======
.button-donate a{
  color: white;
  text-decoration: none;
  padding: 10px;
>>>>>>> Stashed changes
}

/* incoming breakpoint */
/* for larger than small screens */
@media all and (min-width: 640px) {

  body {
    /*DEV*/background: rgba(255, 0, 0, 0.2);
  }

  section {
    max-width: 960px;
    margin: auto;
  }

  .intro {
    height: 444px;
    background-image: url(../assets/headerBg.jpg);
    background-position: 0 750px, bottom;
    background-size: cover;
    color: white;
  }

}
