body{
  font-size:100%;
  line-height:1.5;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #323232;
  margin: 0 auto;
}

.nextItem , .prevItem {
  zoom: 180%;
}

h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2em;
}


section div a{
  display: block;
}

p{
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}

.button-donate a{
  font-size: 1em;
}

.logo{
  max-height: 60px;
  padding: 5px 0;
}
.social{
  height: 100px;
  line-height: 100px;
}

.social a {
  height: 50px;
  width: 50px;
  display: block;
  background-repeat: no-repeat;
  background-position:center center;
  overflow:hidden;
  text-indent: 110%;
  margin-left: 25px;
  margin-right: 25px;
}

.social li{
  display: inline-block;
  vertical-align: middle;
}

.facebook a{
  background: url(../assets/icon_facebook.svg);
}

.twitter a{
  background-image: url(../assets/icon_twitter.svg);
}

.linkedin a{
  background-image: url(../assets/icon_linkedin.svg);
}

.badge a{
  background-image: url(../assets/icon_badge.svg);
}

/* for larger than small screens */
@media all and (min-width: 640px) {

  h1{
    font-size: 1.8em;
  }

  p{
    text-align: left
  }

  .intro p{
    text-shadow: 0 0 20px rgba(50,50,50,0.75);
    font-weight: 300;
    font-size: 1.5em;
  }
