body{
  font-size:100%;
  line-height:1.5;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  color: #323232;
  margin: 0 auto;
}

h1{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5em;
}


p{
  font-weight: 300;
  font-size: 1em;
  text-align: justify;
}

.button-donate a{
  font-size: 1em;
}

.logo{
  max-height: 60px;
  padding: 5px 0;
}

.social ul{
  height: 100px;
  line-height: 100px;
}

.social a{
  color: #7ad3ca;
  font-weight: 300;
  text-decoration:none;
  cursor:pointer;
  padding: 30px;
  height: 100px;
  line-height: 100px;
  background-size: 50px 50px;
}

.social li{
  display: inline-block;
}

.facebook{
  background-image: url(../assets/icon_facebook.svg);
  background-repeat: no-repeat;


}

.twitter{
  background-image: url(../assets/icon_twitter.svg);
  background-repeat: no-repeat;
  text-indent: -999999px;


}

.linkedin{
  background-image: url(../assets/icon_linkedin.svg);
  background-repeat: no-repeat;
  text-indent: -999999px;

}


/* for larger than small screens */
@media all and (min-width: 640px) {

  h1{
    font-size: 1.8em;
  }

  p{
    text-align: left
  }

  .intro p{
    text-shadow: 0 0 20px rgba(50,50,50,0.75);
    font-weight: 300;
    font-size: 1.5em;
  }
